<!DOCTYPE html>
<html>
	<head>
		<title>GamingSchool - {% block title %}{% endblock %}</title>
		<meta charset="UTF-8" />

		{% block stylesheets %}
			<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        	<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gamingschool/css/index-style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
	</head>

	<body>
		<header>
			<div class="container" id="headerContainer">
				<a href="/"><img src="{{ asset('/bundles/gamingschool/img/logo.png') }}" alt="GamingSchool" /></a>
				<ul id="mainMenu">
					<li><a href="#" class="hover-sliding">NOS COACHS</a></li>
					<li><a href="#" class="hover-sliding">NOS JEUX</a></li>
					<li><a href="#" class="hover-sliding">A PROPOS DE NOUS</a></li>
					<li>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				            <a style="color: #fbb03b" href="{{ path('fos_user_security_logout') }}">
				                {{ 'SE DÉCONNECTER'|trans({}, 'FOSUserBundle') }}
				            </a>
				        {% else %}
				        	<a href="/login" id="loginLabel">
								CONNEXION
							</a>
							<a href="/register" id="signupLabel">
								INSCRIPTION
							</a>
						{% endif %}
					</li>
				</ul>

			</div>
		</header>

		<div id="mainContainer">
			{% block content %}
			{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

		{% block javascripts %}
		{% endblock %}
	</body>
</html>