{% extends "GamingSchoolBundle:Default:base.html.twig" %}

{% block title %}Profil de XXX{% endblock %}

{% block content %}
<div id="fullWidthProfileZone">
	<div id="profileProfilePic">

	</div>
	<h5>{{ infos.username }}</h5>
</div>

<div class="container" id="profileInfosContainer">
	<div id="profileInfo">
		<div class="row">
			<div class="col s12">
				<div class="card darken-1">
					<div class="card-content">
						<span class="card-title">Présentation</span>
						<p>Bonjour, je suis un profil utilisateur lambda. Je joue aux jeux vidéo et j'utilise la plateforme GamingSchool afin de trouver des coachs qui pourront m'aider à progresser dans mes jeux préférés.
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m6">
				<div class="card darken-1">
					<div class="card-content">
						<span class="card-title">Informations</span>
						<p><b>Nom utilisateur: </b>{{infos.username }}<br>
						<b>Prénom: </b>{{ infos.userFirstName }}<br>
						<b>Adresse: </b>{{ infos.userAddress }}<br>
						<b>Email: </b>{{ infos.email }}</p>
					</div>
				</div>
			</div>

			<div class="col s12 m6">
				<div class="card darken-1">
					<div class="card-content">
						<span class="card-title">Dernières leçons</span>
						<p>Afficher ici les dernières leçons prises par l'utilisateur</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card darken-1">
					<div class="card-content">
						<span class="card-title">Badges</span>
						<p>Collection de badges acquis par le joueur sur le site GamingSchool</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}